.category__main-inner {
	margin-top: 60px;
	h1 {
		text-align: center;
		position: relative;
	}
	.news {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (max-width: 1024px) {
			display: block;
		}
		.news__single {
			max-width: 19%;
			@media (max-width: 1024px) {
				max-width: 90%;
				margin: 0 auto;
			}
			margin-bottom: 25px;
			border-bottom: 1px solid #000;
			.title {
				color: #000000;
			}
			img {
				margin-top: 20px;
			}
			p {
				font-size: 1.6rem;
				color: rgb(190, 190, 190);
			}
		}
	}
}
