.last_news_carousel {
	margin-top: 30px;
	// @media(max-width:768px){
	// 	margin-top: 74px;
	// }
	.item {
		margin: 0 auto;
		display: grid;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
		grid-template-columns: max-content auto;
		grid-template-rows: auto max-content;
		background-position: center;
		background-size: cover;
		img {
			position: absolute;
			top: -9999px;
			right: -9999px;
			bottom: -9999px;
			left: -9999px;
			margin: auto;
			/* The following values determine the exact image behaviour. */
			/* You can simulate background-size: cover/contain/etc.
				 by changing between min/max/standard width/height values.
				 These values simulate background-size: cover
			*/
			min-width: 100%;
			min-height: 100%;
			z-index: -1;
		}
		color: white;
		position: relative;
		width: 290px;
		height: 240px;
		padding: 2rem;
		@media (max-width: 320px) {
			width: 250px;
			height: 200px;
		}
		@media (min-width: 475px) and( max-width:1000px) {
			width: 160px;
			height: 200px;
		}
		@media (min-width: 1000px) and( max-width:1450px) {
			width: 200px;
			height: 200px;
		}
		&:before,
		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			border: 1px solid white;
		}
		&:before {
			grid-row: 1 / 2;
			border-right: none;
			border-bottom: none;
		}
		&:after {
			grid-row: 1 / span 2;
			border-left: none;
		}
		.link__inner {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: transparent;
			color: transparent;
		}
		h2 {
			font-family: "Pragati Narrow", sans-serif;
			font-size: 2rem;
			position: absolute;
			top: 21px;
			left: 29px;
			max-width: 75%;
			border-radius: 10px;
			padding: 10px 7px;
			background-color: #14131375;
		}
	}
}
.last__news-link {
	display: flex;
	align-items: center;
	justify-content: space-around;
	a {
		text-decoration: underline;
	}
}
