@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-size: 2.4rem;
  background-color: #f7f7f5;
  color: #0d0d0d;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 1715px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 1440px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 769px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 0 15px;
  }
}

.header__top {
  background-color: #1f1f1f;
  padding: 25px 0 15px;
  font-family: "Montserrat", sans-serif;
  color: #f7f7f5;
  font-size: 1.8rem;
  min-height: 34px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
}

.header__top .header__top-inner {
  position: relative;
  padding: 0 60px;
}

.header__top .header__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .header__top .header__categories {
    display: none;
  }
}

.header__top .header__categories.active {
  display: none;
}

.header__top .header__categories a {
  color: #f7f7f5;
  padding: 0 10px;
}

.header__top .header__categories .news__category_link {
  position: relative;
}

.header__top .header__categories .news__category_link.active::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #f7f7f5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__top .header__categories .news__category_link:hover::before {
  background-color: #f7f7f5;
}

.header__top .header__categories .news__category_link::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__top .header__top-logo {
  display: none;
}

@media (max-width: 768px) {
  .header__top .header__top-logo {
    display: block;
    position: absolute;
    right: -3px;
    top: -8px;
    max-width: 180px;
    color: aliceblue;
  }
}

@media (max-width: 768px) {
  .header__top .header__search {
    display: none;
  }
}

.header__top .header__search .header__search-icon {
  z-index: 11;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  cursor: pointer;
}

.header__top .header__search .header__search-input {
  display: none;
  background-color: transparent;
  outline: none;
  color: #f7f7f5;
  border: none;
  width: 100%;
}

.header__top .header__search .header__search-input.active {
  display: block;
}

.header__top .header__burger {
  z-index: 11;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.header__top .header__burger::before, .header__top .header__burger::after {
  content: "";
  background-color: #f7f7f5;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
}

.header__top .header__burger::before {
  top: 0;
  width: 35px;
}

.header__top .header__burger::after {
  bottom: 0;
  width: 25px;
}

.header__top .header__burger span {
  border-radius: 15px;
  background-color: #f7f7f5;
  position: absolute;
  width: 40px;
  height: 3px;
  left: 0;
  top: 9px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__top .header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
  width: 110%;
}

.header__top .header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
  width: 110%;
}

.header__top .header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__menu {
  z-index: 10;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .header__menu {
    top: 85px;
  }
}

@media (min-width: 1160px) {
  .header__menu {
    top: 75px;
  }
}

@media (min-width: 1400px) {
  .header__menu {
    top: 70px;
  }
}

.header__menu.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__menu .header__menu-inner {
  color: #f1f1f1;
  margin: 20px;
}

.header__menu .header__menu-inner ul {
  list-style: none;
  width: 100%;
}

@media (min-width: 768px) {
  .header__menu .header__menu-inner ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__menu .header__menu-inner ul li {
    width: 40%;
  }
}

.header__menu .header__menu-inner ul li {
  padding-bottom: 5px;
}

.header__menu .header__menu-inner ul li a {
  font-size: 2.4rem;
  color: #f1f1f1;
  position: relative;
}

.header__menu .header__menu-inner ul li a.active::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #f7f7f5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__menu .header__menu-inner ul li a:hover::before {
  background-color: #f7f7f5;
}

.header__menu .header__menu-inner ul li a::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__middle {
  margin-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 45px 0 30px;
}

@media (max-width: 768px) {
  .header__middle {
    display: none;
  }
}

.header__middle img {
  max-width: 500px;
}

@media (max-width: 600px) {
  .header__middle img {
    max-width: 300px;
  }
}

.header__bottom-inner {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .header__bottom-inner {
    margin-top: 74px;
  }
}

.header__bottom-inner .line {
  width: 36%;
  height: 0px;
  border-top: 2px solid rgba(65, 50, 50, 0.8);
  border-radius: 10px;
}

@media (max-width: 1322px) {
  .header__bottom-inner .line {
    width: 30%;
  }
}

@media (max-width: 970px) {
  .header__bottom-inner .line {
    width: 20%;
  }
}

@media (max-width: 680px) {
  .header__bottom-inner .line {
    width: 10%;
  }
}

@media (max-width: 450px) {
  .header__bottom-inner .line {
    width: 4%;
  }
}

.header__bottom-inner .slogan {
  font-style: italic;
  font-weight: normal;
  font-size: 2.4rem;
  color: #413232;
}

@media (max-width: 600px) {
  .header__bottom-inner .slogan {
    font-size: 2rem;
  }
}

@media (max-width: 435px) {
  .header__bottom-inner .slogan {
    font-size: 1.4rem;
  }
}

.header__banner-inner {
  padding-top: 10px;
}

@media (max-width: 425px) {
  .header__banner-inner {
    display: none;
  }
}

.header__banner-inner img {
  width: 100%;
  margin: 0 auto;
  height: auto;
  max-height: 170px;
}

body.lock {
  overflow: hidden;
}

.last_news_carousel {
  margin-top: 30px;
}

.last_news_carousel .item {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
  -ms-grid-rows: auto max-content;
      grid-template-rows: auto -webkit-max-content;
      grid-template-rows: auto max-content;
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
  width: 290px;
  height: 240px;
  padding: 2rem;
}

@media (max-width: 320px) {
  .last_news_carousel .item {
    width: 250px;
    height: 200px;
  }
}

@media (min-width: 475px) and (max-width: 1000px) {
  .last_news_carousel .item {
    width: 160px;
    height: 200px;
  }
}

@media (min-width: 1000px) and (max-width: 1450px) {
  .last_news_carousel .item {
    width: 200px;
    height: 200px;
  }
}

.last_news_carousel .item:before, .last_news_carousel .item:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

.last_news_carousel .item:before {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  border-right: none;
  border-bottom: none;
}

.last_news_carousel .item:after {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  border-left: none;
}

.last_news_carousel .item h2 {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 2rem;
  position: absolute;
  top: 21px;
  left: 29px;
  max-width: 75%;
  border-radius: 10px;
  padding: 10px 7px;
  background-color: #14131375;
}

.last__news-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.last__news-link a {
  text-decoration: underline;
}

.main__news-carousel {
  margin-top: 30px;
}

.main__news-carousel .main__news-carousel-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1123px) {
  .main__news-carousel .main__news-carousel-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__news-carousel .main__news-carousel-inner .addvert {
  max-width: 19%;
}

@media (max-width: 1123px) {
  .main__news-carousel .main__news-carousel-inner .addvert {
    margin: 0 auto;
    max-width: 35%;
  }
}

@media (max-width: 425px) {
  .main__news-carousel .main__news-carousel-inner .addvert {
    max-width: 100%;
    margin: 0;
  }
}

.main__news-carousel .main__news-carousel-inner .main_news_carousel {
  max-width: 44.3%;
}

@media (max-width: 1123px) {
  .main__news-carousel .main__news-carousel-inner .main_news_carousel {
    margin: 0 auto;
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .main__news-carousel .main__news-carousel-inner .main_news_carousel {
    max-width: 100%;
  }
}

.main__news-carousel .item {
  position: relative;
  max-height: 350px;
}

.main__news-carousel .item .title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  background-color: #403053;
  padding: 5px 15px;
  color: #f7f7f5;
}

@media (max-width: 425px) {
  .main__news-carousel .item .title {
    font-size: 1.3rem;
  }
}

.last__news .last__news-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.last__news .last__news-inner .item {
  max-width: 290px;
  border-right: 1px solid #1f1f1f;
  padding-right: 30px;
}

@media (max-width: 420px) {
  .last__news .last__news-inner .item {
    border: none;
    border-bottom: 1px solid #1f1f1f;
  }
}

@media (max-width: 1024px) {
  .last__news .last__news-inner .item {
    max-width: 100%;
    padding-right: 0;
  }
}

.last__news .last__news-inner .item .title {
  color: #1f1f1f;
}

.last__news .last__news-inner .item p {
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #a49f9f;
}

.footer .footer__word-banner {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 2px solid #1f1f1f;
  border-bottom: 2px solid #1f1f1f;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.footer .footer__word-banner .sacroll_text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__word-banner .sacroll_text div {
  color: #1f1f1f;
  font-size: 4em;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-animation: text_animate 35s linear infinite;
          animation: text_animate 35s linear infinite;
}

.footer .footer__word-banner .sacroll_text div:nth-child(2) {
  -webkit-animation: text_animate2 35s linear infinite;
          animation: text_animate2 35s linear infinite;
}

@-webkit-keyframes text_animate {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes text_animate {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes text_animate2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
}

@keyframes text_animate2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
}

.footer .footer__info {
  margin-top: 20px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer__info .logo img {
  max-width: 170px;
}

.footer .footer__info .info {
  font-size: 1.8rem;
  text-align: center;
}

.footer .footer__info .info a {
  color: #fe5303;
}

.footer #myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  border: none;
  outline: none;
  background-color: #fe5303;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 1024px) {
  .footer #myBtn {
    font-size: 1.8rem;
    padding: 10px 15px;
    bottom: 55px;
    right: 30px;
  }
}

.footer #myBtn:hover {
  background-color: #f0f0f0;
  color: #1f1f1f;
}

.pagination-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pagination-holder .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  border-radius: 3px;
}

.pagination-holder .pagination li {
  background-color: antiquewhite;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pagination-holder .pagination li.active {
  background-color: #f6c483;
}

.pagination-holder .pagination li.active a {
  color: #f0f0f0;
}

.pagination-holder .pagination li::hover {
  background-color: #f1af59;
}

.pagination-holder .pagination li .page-link {
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 4px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pagination-holder .pagination li span {
  padding: 4px 8px;
}

.pagination-holder .pagination li.prev {
  border-radius: 10px 0 0 10px;
}

.pagination-holder .pagination li.next {
  border-radius: 0px 10px 10px 0px;
}

.category__main-inner {
  margin-top: 60px;
}

.category__main-inner h1 {
  text-align: center;
  position: relative;
}

.category__main-inner .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .category__main-inner .news {
    display: block;
  }
}

.category__main-inner .news .news__single {
  max-width: 19%;
  margin-bottom: 25px;
  border-bottom: 1px solid #000;
}

@media (max-width: 1024px) {
  .category__main-inner .news .news__single {
    max-width: 90%;
    margin: 0 auto;
  }
}

.category__main-inner .news .news__single .title {
  color: #000000;
}

.category__main-inner .news .news__single img {
  margin-top: 20px;
}

.category__main-inner .news .news__single p {
  font-size: 1.6rem;
  color: #bebebe;
}

.single__new-inner {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .single__new-inner {
    display: block;
  }
}

.single__new-inner .single__new-text {
  width: 60%;
}

.single__new-inner .single__new-text h1 {
  font-size: 3rem;
}

.single__new-inner .single__new-text p {
  font-size: 1.8rem;
  color: #131313;
}

@media (max-width: 1024px) {
  .single__new-inner .single__new-text {
    margin: 0 auto;
    width: 90%;
  }
}

.single__new-inner .single__new-img {
  width: 35%;
}

@media (max-width: 1024px) {
  .single__new-inner .single__new-img {
    margin: 0 auto;
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */